//fonts
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter&family=Quicksand&display=swap");

::-webkit-scrollbar {
  width: 5px;
  background-color: #10110e;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top right, #ffba3b, #ffa500);
  border-radius: 80px ;
  box-shadow: 10px 10px 22px black;
  
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
  list-style: none;
  backface-visibility: hidden;
}
h1{
  font-size: 2.6rem;
}
h2{
  font-size: 2.3rem;
}
p{
  font-size: 1.2rem;
  text-align: justify;
}
//Section1
.content{
  width: 100%;
  background-color: #070606;

}

.max-width{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
}
