.section4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8vh 0;
    background: linear-gradient(to top, #121212, #080808);
    gap: 0px;
    position: relative;
    border-bottom: 1px solid #ffffff;
    

    h2{
      display: inline-block;
      font-size: 55px;
      color: #ffffff;
      font-weight: 300;
      
    }

    h3{
      display: inline-block;
      color: #ffffff;
      letter-spacing: 2px;
      font-weight: 300;
      font-size: 18px;
      width: 60%;
      line-height: 1.5em;
      text-align: center;
      padding: 20px;
      border: 1px solid #ffffff;
      margin: 3% 0;
      
    }

    h2::after{
        content: "";
        position: absolute;
        display: block;
        height: 1px;
        width: 40%;
        left: 0;
        top: 12%;
        transform: translateY(-50%);
        background-color: #ffffff;
    }
    h2::before{
      content: "";
        position: absolute;
        display: block;
        height: 1px;
        width: 40%;
        right: 0;
        top: 12%;
        transform: translateY(50%);
        background-color: #ffffff;
    }
    
    .all_box {
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      width: 100%;
      transform: scale(0.8);
      transform-origin: 50% 0%;
      height: 550px;
      gap: 30px;

      .align_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
      }

      iframe {
        max-width: 300px;
        border: none;
        box-shadow: 5px 5px 3px #00000062;
        overflow: hidden;
      }
      
      .box {
        width: 300px;
        height: 250px;
        transform: scale(0);
        transition: transform 500ms cubic-bezier(.09,.66,.6,1.2);

        &.scale2 {
          transform: scale(1);
         transition-delay: 200ms;
        }
        &.scale3 {
          transform: scale(1);
         transition-delay: 400ms;
        }
        &.scale4{
          transform: scale(1);
         transition-delay: 600ms;
        }
        &.scale5 {
          transform: scale(1);
         transition-delay: 800ms;
        }
      }
      
      .box2 {
        width: 300px;
        height: 600px;
        transform: scale(0);
        transition: transform 800ms cubic-bezier(.09,.66,.6,1.2);

        &.scale1 {
          transform: scale(1);
          
        }
        &.scale6 {
          transform: scale(1);
          transition-delay: 1000ms;
        }
      }
      .anima1 {
        grid-column: 1 / span 1;
        grid-row: 1;
        justify-self: center; 
      }
      .anima2 {
        grid-column: 2 / span 1;
        grid-row: 1;
        justify-self: center; 
      }
      .anima3 {
        grid-column: 2 / span 1;
        grid-row: 1;
        justify-self: center; 
      }
      .anima4 {
        grid-column: 3 / span 1;
        grid-row: 1;
        justify-self: center; 
      }
      .anima5 {
        grid-column: 3 / span 1;
        grid-row: 1;
        justify-self: center; 
      }
      .anima6 {
        grid-column: 4 / span 1;
        grid-row: 1;
        justify-self: center; 
      }
    }

    
  }
  
  @media only screen and (max-width: 480px) {
    .section4{
      padding: 10vh 0;
      padding-bottom: 18vh !important;
      
      h3{
        letter-spacing: 2px;
        font-size: 16px;
        width: 80%;
        line-height: 1.3em;
        padding: 18px;
        margin: 12% 0;
      }
  
      h2::after{
          content: "";
          position: absolute;
          display: block;
          height: 1px;
          width: 25%;
          left: 0;
          top: 12%;
          transform: translateY(-50%);
          background-color: #ffffff;
      }
      h2::before{
        content: "";
          position: absolute;
          display: block;
          height: 1px;
          width: 25%;
          right: 0;
          top: 12%;
          transform: translateY(50%);
          background-color: #ffffff;
      }

      .all_box {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 2fr);
        width: 100% !important;
        transform: scale(0.5);
        transform-origin: 50% 0%;
        
        
        gap: 30px;
    }

    .align_box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  }
  }