.section3{
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    padding: 10vh 0;
    background: linear-gradient(to bottom, #121212, #000000);
    gap: 30px;
    position: relative;


    .s3_left{
      width: 60%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding-bottom: 50px;
    h2{
      font-size: 55px;
      color: #ffffff;
      font-weight: 300;
     
    }

    h2::before {
      content: "";
      position: absolute;
      background-color: #ffffff;
      right: 0;
      top: 14%;
      height: 1px;
      width: 0% !important;
      transform: translateY(-50%);
    }

    h3{
      color: #ffffff;
      font-weight: 300;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
    h3::before {
      content: "";
      position: absolute;
      background-color: #ffffff;
      left: 0;
      top: 14%;
      height: 1px;
      width: 0% !important;
      transform: translateY(-50%);
    }
  .all_box{
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5 !important;
    gap: 15px;

    .card {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 200px;
      height: 250px;
      box-shadow: 2px 2px 10px rgb(0, 0, 0);
      background-image: linear-gradient(250deg, rgb(37, 37, 37), rgb(0, 0, 0));
      border: 3px solid #313131;
      cursor: pointer;
    }
    
    .card:hover {
      border: 3px solid #ffffff;
      transition: 100ms;  
    }
    
    .lb{
      background-image: url(./assets/images/img_lb.jpg);
      background-size: cover;
      background-position: center;
    }
    .sl{
      background-image: url(./assets/images/img_sl.jpg);
      background-size: cover;
      background-position: center;
    }
    .sf{
      background-image: url(./assets/images/img_sf.jpg);
      background-size: cover;
      background-position: center;
    }
    .pr{
      background-image: url(./assets/images/img_pr.jpg);
      background-size: cover;
      background-position: center;
    }
    .ch{
      background-image: url(./assets/images/img_ch.jpg);
      background-size: cover;
      background-position: center;
    }
    .eb{
      background-image: url(./assets/images/img_eb.jpg);
      background-size: cover;
      background-position: center;
    }
    }
  }

  .logo_card{
    position: absolute;
    bottom: 10px;
    opacity: 0.7;
    width: 22px;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
  }
  .s3_left.anima-line h2::before{
    width: 40% !important;
    transition: 1s;
  }
  .s3_left.anima-line h3::before{
    width: 41% !important;
    transition: 1s;
  }


  .s3_left.not-anima-line h2::before{
    width: 40%;
    transition: 1s;
  }

  .s3_left.not-anima-line h3::before{
    width: 0%;
    transition: 1s;
  }

  //---animação dos cards -- entrada

  .sf.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    opacity: 1;
    transition: 800ms;
  }
  .sl.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    opacity: 1;
    transition: 800ms;
  }
  .lb.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    opacity: 1;
    transition: 800ms;
  }
  .pr.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    opacity: 1;
    transition: 800ms;
  }
  .ch.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    opacity: 1;
    transition: 800ms;
  }

}
  
@media only screen and (max-width: 480px) {
  .section3{
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    flex-direction: column;
    padding: 8vh 0;
    gap: 30px;

    .s3_left{
      width: 100% !important;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 30px;

    h2::before {
      content: "";
      right: 0px !important;
      top: 12%;
      height: 1px;
      width: 0% !important;
    }

    h3::before {
      content: "";
      top: 12%;
      width: 0%;
      }
    }

    .all_box{
      width: 80%;
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, 1fr) !important;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 5 !important;
      gap: 10px;

    }

    .card {
      width: 150px !important;
      height: 180px !important;
    }
    
    .s3_left.anima-line h2::before{
      width: 30% !important;
      transition: 1s;
    }
    .s3_left.anima-line h3::before{
      width: 30% !important;
      transition: 1s;
    }

    .s3_left.not-anima-line h2::before{
      width: 0% !important;
      transition: 1s;
    }
  
    .s3_left.not-anima-line h3::before{
      width: 0%;
      transition: 1s;
    }

  }
}

@media only screen and (max-width: 425px) {
  .section3{

  .s3_flex{
    button{
      margin: 0 3px;
      font-size: 14px !important;
      letter-spacing: 2px;
    }
    
  }
}
}