.section3{
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    padding: 8vh 0;
    background: linear-gradient(to bottom, #121212, #000000);
    gap: 30px;
    position: relative;


    .s3_left{
      width: 60%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    h2{
      font-size: 55px;
      color: #ffffff;
      font-weight: 300;
     
    }

    h2::before {
      content: "";
      position: absolute;
      background-color: #ffffff;
      right: 0;
      top: 18%;
      height: 1px;
      width: 40%;
      transform: translateY(-50%);
    }


    h3{
      color: #ffffff;
      font-weight: 300;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
    h3::before {
      content: "";
      position: absolute;
      background-color: #ffffff;
      left: 0;
      top: 18%;
      height: 1px;
      width: 0%;
      transform: translateY(-50%);
    }
  .all_box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 5 !important;

    a{
      transform: perspective(1000px) rotateY(20deg);
      position: relative;
      left: 0;
      transition: 1s;
      margin-left: 10px;
    }

    a:not(:first-child) {
      margin-left: -70px;
    }
    a:not(:first-child) {
      margin-left: -70px;
    }
    
    a:hover {
      transform: translateY(-20px);
      transition: 200ms;
      transition-timing-function: ease-in;
    }
    
    a:hover ~ a {
      left: 70px;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 180px;
      height: 250px;
      box-shadow: 2px 2px 10px rgb(0, 0, 0);
      background-image: linear-gradient(250deg, rgb(37, 37, 37), rgb(0, 0, 0));
      border: 3px solid #313131;
      overflow: hidden;
      cursor: pointer;
      transform: perspective(1000px);
    }
    
    .card:hover {
      border: 3px solid #ffffff;
      transition: 200ms;      
    }
    
    .lb{
      background-image: url(./assets/images/img_lb.jpg);
      background-size: cover;
      background-position: center;
    }
    .sl{
      background-image: url(./assets/images/img_sl.jpg);
      background-size: cover;
      background-position: center;
    }
    .db{
      background-image: url(./assets/images/img_db.jpg);
      background-size: cover;
      background-position: center;
    }
    .pr{
      background-image: url(./assets/images/img_pr.jpg);
      background-size: cover;
      background-position: center;
    }
    .ex{
      background-image: url(./assets/images/img_ex.jpg);
      background-size: cover;
      background-position: center;
    }
    }
  }

  .s3_left.anima-line h2::before{
    width: 58%;
    transition: 1s;
  }
  .s3_left.anima-line h3::before{
    width: 19%;
    transition: 1s;
  }


  .s3_left.not-anima-line h2::before{
    width: 40%;
    transition: 1s;
  }

  .s3_left.not-anima-line h3::before{
    width: 0%;
    transition: 1s;
  }

  //---animação dos cards -- entrada

  .sl.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    transition: 800ms;
    transition-delay: 100ms;
    transform: translateX(0px);
  }
  .sl.not-anima-cards{
    transition-timing-function:ease-in;
    transition: 500ms;
    transition-delay: 500ms;
    transform: translateX(-300px) !important;
    
  }
  .lb.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    transition: 800ms;
    transition-delay: 200ms;
    transform: translateX(0px);
  }
  .lb.not-anima-cards{
    transition-timing-function:ease-in;
    transition: 500ms;
    transition-delay: 400ms;
    transform: translateX(-230px) !important;
    
  }
  .db.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    transition: 800ms;
    transition-delay: 300ms;
    transform: translateX(0px);
  }
  .db.not-anima-cards{
    transition-timing-function:ease-in;
    transition: 500ms;
    transition-delay: 300ms;
    transform: translateX(-155px) !important;
    
  }
  .pr.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    transition: 800ms;
    transition-delay: 400ms;
    transform: translateX(0px);
  }
  .pr.not-anima-cards{
    transition-timing-function:ease-in;
    transition: 500ms;
    transition-delay: 200ms;
    transform: translateX(-80px) !important;
    
  }
  .ex.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    transition: 800ms;
    transition-delay: 100ms;
    transform: translateX(0px);
  }
  .ex.not-anima-cards{
    transition-timing-function:ease-in;
    transition: 500ms;
    transition-delay: 100ms;
    transform: translateX(0px) !important;
    
  }
  .s3_right{
    width: 40%;
    z-index: 10;
    padding-right: 5%;
    padding-top: 25px;
    

    .s3_flex{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px;

      button{
        color: #ffffff;
        background: none;
        border: none;
        padding: 5px 10px;
        margin: 0 5px;
        font-size: 18px;
        letter-spacing: 2px;
        cursor: pointer;
      }
      button.selected{
       border-bottom: 1px solid #ffffff;
      }
      
    }

    .box{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 200px;
      top: 0;
      width: 450px;
      position: relative;
    }

    iframe{
      border: 3px solid #313131;
      position: absolute;
      width: 100%;
      height: 370px;
      margin: 0;
      padding: 0;
      display: block;
    }
  }

  &:hover .s3_right .box {
    transition: 200ms;      
  }

  &:not(:hover) .s3_right .box {
    transition: 200ms;      
  }


  .pr:hover ~.iframe_lb{
    display: none;
  }

  .pr:hover ~ .iframe_pr {
    display: block;
  }
}
  
@media only screen and (max-width: 480px) {
  .section3{
    display: flex;
    justify-content: center;
    align-items: flex-start ;
    flex-direction: column;
    padding: 8vh 0;
    gap: 30px;


    .s3_left{
      width: 100% !important;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 30px;

    h2::before {
      content: "";
      right: 0px !important;
      top: 12%;
      height: 1px;
      width: 0% !important;
    }

    h3::before {
      content: "";
      top: 12%;
      width: 0%;
      }
    }

    .all_box{
      width: 80%;
      display: flex;
      flex-wrap: wrap !important;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 5 !important;
      gap: 10px;

    }

    a{
      transform: perspective(1000px) rotateY(0deg) !important;
      position: relative;
      left: 0;
      transition: 1s;
      margin-left: 0px !important;
    }

    a:not(:first-child) {
      margin-left: 0px !important;
    }
    a:not(:first-child) {
      margin-left: 0px !important;
    }
    
    a:hover {
      transform: translateY(0px) !important;
      transition: 200ms;
      transition-timing-function: ease-in;
      transform: scale(1.02) !important;
    }
    
    a:hover ~ a {
      left: 0px !important;
    }


    .card {
      width: 120px !important;
      height: 160px !important;
    }
    
    .s3_left.anima-line h2::before{
      width: 29% !important;
      transition: 1s;
    }
    .s3_left.anima-line h3::before{
      width: 29%;
      transition: 1s;
    }

    .s3_left.not-anima-line h2::before{
      width: 0% !important;
      transition: 1s;
    }
  
    .s3_left.not-anima-line h3::before{
      width: 0%;
      transition: 1s;
    }

     //---animação dos cards -- entrada

  .sl.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    transition: 800ms;
    transition-delay: 200ms;
    transform: translateX(0px);
  }
  .sl.not-anima-cards{
    transition-timing-function:ease-in;
    transition: 500ms;
    transition-delay: 200ms;
    transform: translateX(-15px) translateY(-15px) scale(0.8) !important;
    
  }
  .lb.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    transition: 800ms;
    transition-delay: 200ms;
    transform: translateX(0px);
  }
  .lb.not-anima-cards{
    transition-timing-function:ease-in;
    transition: 500ms;
    transition-delay: 200ms;
    transform: translateX(15px) translateY(-15px) scale(0.8) !important;
    
  }
  .db.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    transition: 800ms;
    transition-delay: 200ms;
    transform: translateX(0px);
  }
  .db.not-anima-cards{
    transition-timing-function:ease-in;
    transition: 500ms;
    transition-delay: 200ms;
    transform: translateX(-15px) translateY(15px) scale(0.8)  !important;
  }
  .pr.anima-cards{
    transition-timing-function:cubic-bezier(.1,.25,.42,1.22);
    transition: 800ms;
    transition-delay: 200ms;
    transform: translateX(0px);
  }
  .pr.not-anima-cards{
    transition-timing-function:ease-in;
    transition: 500ms;
    transition-delay: 200ms;
    transform: translateX(15px) translateY(15px) scale(0.8) !important;
    
  }


  .s3_right{
    width: 100% !important; 
    padding-right: 0% !important;
    
  .s3_flex{
    padding: 0 5px;
    padding-top: 30px;

  }

  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 320px;
    top: 0;
    width: 100%;
    position: relative;
  }

  iframe{
    border: 3px solid #313131;
    position: absolute;
    width: 98%;
    height: 570px;
    margin: 0;
    padding: 0;
    display: block;
  }
  
    }
  }
}

@media only screen and (max-width: 425px) {
  .section3{

  .s3_flex{
    button{
      margin: 0 3px;
      font-size: 14px !important;
      letter-spacing: 2px;
    }
    
  }
}
}