.section2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 10vh;
  background-color: #121212;
  gap: 30px;
  max-width: 1280px;

  .s2_left{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    img {
      width: 50%;
      border-radius: 5px;
      box-shadow: 2px 5px 10px black;
      z-index: 2;
      animation: flutuar 20s linear 0s infinite;
      transform: translateZ(0);
      will-change: transform;
    }
    .shape_img {
      position: absolute;
      width: 100%;
      height: 70%;
      border-radius: 0px 15px 15px 0px;
      box-shadow: 3px 5px 8px black;
      background: linear-gradient(to bottom right, #ffa500, #ff7300);
      z-index: 1;
    }
  }

  .s2_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;

    h2{
      font-size: 55px;
      text-align: left;
      color: #ffa500;
    }

    p{
      font-size: 16px;
      line-height: 25px;
      color: white;
    }
  }
}